html {
    background-color: white;
}

body {
    overflow-y: auto !important;
}

.green {
    color: green !important;
}


#ud--commentsection {
    overflow: auto;
    max-height: 200px;
}

.commentmargin {
    margin: 5px 0 5px 0;
    border-top: 1px solid #e2e4e8
}

.ud--commentimage {
    max-width: 25%;
    max-height: 10em;
    display: inline-block;
}

.ud--commentvideo {
    max-width: 25%;
    max-height: 10em;
    display: inline-block;
}

.ud--userinfoname {
    display: block;
    border-bottom: 1px solid blue;
}

#ud--commentuserinfoevent {
    position: absolute;
    background-color: white;
    z-index: 100;
    padding: 5px;

    border: 1px solid black;
}

.ud--userinfoimage {
    margin-top: 10px;
    max-height: 100px;
    max-width: 100px;
    display: block;
}