html {
    background-color: white;
}

body {
    overflow-y: auto !important;
}

.green {
    color: green !important;
}


#ud--commentsection {
    overflow: auto;
    max-height: 200px;
}

.commentmargin {
    margin: 5px 0 5px 0;
    border-top: 1px solid #e2e4e8
}

.ud--commentimage {
    max-width: 25%;
    max-height: 10em;
    display: inline-block;
}

.ud--commentvideo {
    max-width: 25%;
    max-height: 10em;
    display: inline-block;
}

.ud--userinfoname {
    display: block;
    border-bottom: 1px solid blue;
}

#ud--commentuserinfoevent {
    position: absolute;
    background-color: white;
    z-index: 100;
    padding: 5px;

    border: 1px solid black;
}

.ud--userinfoimage {
    margin-top: 10px;
    max-height: 100px;
    max-width: 100px;
    display: block;
}

#ud--modalboxbackground {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.5);
}

#ud--modalbox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 0 5px 5px;
    border: 1px solid black;

    min-height: 20%;
    min-width: 30%;
}

#ud--modaltitle {
    width: 100%;
    height: 100%;
    color: white;
    background-color: #333;
    display: block;
}

#ud--modalprogress {
    width: 100%;
    display: block;
}